
.a{
text-align: center !important;
}
.c{
    text-align: center !important;
}
.ab{
    text-align: center !important;
    margin-top: 10px;

}
body{
    background-color: rgba(0, 0, 0, 0.892);
    font-family :'Times New Roman', Times, serif
}


.cb{
    background-color:red;
    align-items: flex-end;

}

.chm{
    margin-bottom: -20px !important;
}
.hh{
    height: 85% !important;
}
.attributes{
    text-align: center;
}
.butt{
    border-radius: 10px !important;
}
.im{
  
    z-index: -10 !important;
}
.ch{
    height: 100% !important;
    
}
.mfull{
    background-color: black;
}
.mfullcar{
    background-color: black;

    box-shadow: black 10px 10px 30px 10px !important;
    opacity: 0.9 !important;
}
.ffonts {
    color: white !important;
}
.lol{
    box-shadow: black inset 1px 1px 100px 10px !important;
    border-radius: 20px;
    padding: 2px;
   
}

.mfullcar :hover + .lol {
   display: none !important;

}
.l{
    width: 100% !important;
    height: 100% !important;

}
